# Data Science & ML
numpy==1.24.4
scipy==1.11.4
scikit-learn==1.4.2
pandas==2.2.2
openpyxl

# Plotting & Visualization
matplotlib==3.8.4
seaborn==0.13.2
plotly>=6.1.1

# AWS
boto3

# LangChain & AutoGen
langchain<0.2.0
langchain-openai
langchain-community
openai
autogen-agentchat
autogen-ext[openai,azure]

# Utilities
python-dotenv

#mcp
mcp
